@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        @apply bg-slate-950 text-slate-50;
    }
}

.font-mono {
    font-family: 'JetBrains Mono', monospace;
}